* {
  --darkGreen: #1c2d00;
}
html {
  font-size: 17px;
}
body {
  padding: 0;
  margin: 0;
  background-color: #b3b8a9;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #4c4c4c;
  line-height: 1.4rem;
}

.container {
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

header {
  height: 200px;
  background-color: #768561;
  background-image: url(header-bg.png);
  display: flex;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--darkGreen);
  padding-top: 75px;
  padding-left: 5px;
}
header img {
  align-self: center;
  margin-left: auto;
}
h1,
h2,
h3,
aside,
footer,
.date {
  color: var(--darkGreen);
}
.date {
  font-weight: bolder;
}
main {
  display: flex;
  /* padding-top: 160px; */
}
aside {
  flex-basis: 25%;
  padding: 20px 25px;
  background-color: #9ea790;
}
article {
  flex-basis: 75%;
}
section {
  background-color: #d3e5ba;
  padding: 20px 20px 0 20px;
}
section:last-child {
  padding-bottom: 20px;
}
p {
  margin: 0.7rem 0;
}
strong {
  font-weight: bolder;
}
section h2,
section h3 {
  margin: 0 0 5px 0;
}
section h2 {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
section h3 {
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}
section p {
  padding-left: 0.7rem;
  margin: 0;
}
section ul {
  margin: 0;
  list-style: none;
  padding-left: 0.7rem;
}
section li {
  margin-bottom: 1rem;
  line-height: 1.55rem;
}
section li:last-child {
  margin: 0;
}
a {
  color: #4c4c4c;
}
address a {
  font-size: 0.9rem;
}
address {
  font-style: normal;
}
aside address {
  font-weight: normal;
  font-style: normal;
  font-size: 0.9rem;
}
.thin-hor-line {
  width: 100%;
  border-top: 2px solid var(--darkGreen);
  margin-top: 30px;
  padding-bottom: 0px;
}
footer p {
  text-align: center;
  margin-top: 5px;
  font-weight: normal;
  margin-bottom: 30px;
}
